<section class="MainSlide">
    <div class="container-fluid">
        <div class="header">
            <h2 class="title">Brand<br>Identity</h2>
            <p class="description">Brand Identity</p>
        </div>
        <div class="footer">
            <span>Version 1</span>
            <span>11/06/2026</span>
            <span>By Alex Wambui</span>
        </div>
    </div>
</section>