---
import { AppConfig } from "../../data";
---

<section class="Slide ColorSystem">
    <div class="container-fluid">
        <div class="header">
            <h2 class="title">Color System</h2>
        </div>

        <div class="content">
            <p class="content-title">Tier 1 - Foundation</p>
            <div class="color-palette-wrapper">
                <div class="color-palette">
                    <div class="color bg-[#FAFAF3]"></div>
                    <div class="info">
                        <p class="name">Buttermilk</p>
                        <p class="hex">#FAFAF3</p>
                        <p class="use-case">Primary background light mode</p>
                    </div>
                </div>

                <div class="color-palette">
                    <div class="color bg-[#211F20]"></div>
                    <div class="info">
                        <p class="name">Pepper</p>
                        <p class="hex">#211F20</p>
                        <p class="use-case">Primary background dark mode</p>
                    </div>
                </div>

                <div class="color-palette">
                    <div class="color bg-[#1E4C48]"></div>
                    <div class="info">
                        <p class="name">Emerald</p>
                        <p class="hex">#1E4C48</p>
                        <p class="use-case">Main Accent</p>
                    </div>
                </div>
            </div>

            <p class="content-title">Tier 2 - Accents & Data</p>
            <div class="color-palette-wrapper">
                <div class="color-palette">
                    <div class="color bg-[#B74A00]"></div>
                    <div class="info">
                        <p class="name">Carnelian</p>
                        <p class="hex">#B74A00</p>
                        <p class="use-case">Light mode accent</p>
                    </div>
                </div>

                <div class="color-palette">
                    <div class="color bg-[#FAC53A]"></div>
                    <div class="info">
                        <p class="name">Honey</p>
                        <p class="hex">#FAC53A</p>
                        <p class="use-case">Dark mode accent</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
