---
import { AppConfig } from "../../data";
---

<section class="Slide">
    <div class="container-fluid">
        <div class="header">
            <h2 class="title">Logo System</h2>
        </div>
        <div class="content">
            <p>{ AppConfig.brand_name }</p>
            <p class="content-title">Logo Rationale</p>
            <p>The logo is an upward arrow inside the A.</p>
        </div>
    </div>
</section>
