---
import { AppConfig } from "../../data";
---

<section class="Slide TypeScalesSlide">
    <div class="container-fluid">
        <div class="content">
            <p class="content-title">Type Scale</p>
            <div class="type-scales">
                <div class="type-scale">
                    <p class="description">Display XL</p>
                    <p class="use-case text-[72px] font-black font-accent">Reason</p>
                    <p class="size">72px / 900</p>
                </div>

                <div class="type-scale">
                    <p class="description">Display L</p>
                    <p class="use-case text-[40px] font-bold font-accent">Built to last.</p>
                    <p class="size">40px / 900</p>
                </div>

                <div class="type-scale">
                    <p class="description">Heading</p>
                    <p class="use-case text-[24px] font-bold font-accent">Web Applications</p>
                    <p class="size">24px / 700</p>
                </div>

                <div class="type-scale">
                    <p class="description">Subheading</p>
                    <p class="use-case text-[16px] font-semibold">Start your project today</p>
                    <p class="size">16px / 600</p>
                </div>

                <div class="type-scale">
                    <p class="description">Body</p>
                    <p class="use-case text-[16px]">We build custom software for businesses.</p>
                    <p class="size">16px / 400</p>
                </div>

                <div class="type-scale">
                    <p class="description">Label / Cap</p>
                    <p class="use-case text-[12px] font-semibold">Reason</p>
                    <p class="size">12px / 600</p>
                </div>
            </div>
        </div>
    </div>
</section>
