---
import Layout from '../layouts/Layout.astro';
import BrandIdentityComponents from '../components/BrandIdentity/Index.astro';
---

<Layout>
    <div class="BrandIdentityPage">
        <BrandIdentityComponents />
    </div>
</Layout>
