<section class="MainSlide">
    <div class="container-fluid">
        <div class="header">
            <h2 class="title">Audience<br>Profiles</h2>
        </div>
        <div class="slide-number">
            <span class="number">05</span>
        </div>
    </div>
</section>
