<section class="MainSlide">
    <div class="container-fluid">
        <div class="header">
            <h2 class="title">Brand<br>Mission</h2>
        </div>
        <div class="slide-number">
            <span class="number">01</span>
        </div>
    </div>
</section>
