---
import { AppConfig } from "../../data";
---

<section class="Slide">
    <div class="container-fluid">
        <div class="header">
            <h2 class="title">Brand Personality</h2>
        </div>
        <div class="content">
            <p class="content-title">Brand Adjectives</p>
            <ol class="pills">
                <li>Intelligent</li>
                <li>Modern</li>
                <li>Minimalistic</li>
                <li>Professional</li>
                <li>Approachable</li>
            </ol>

            <p class="content-title">If { AppConfig.brand_name } was a person</p>
            <p>A sharp, seasoned consultant who grew up in Nairobi — speaks both the language of business strategy and the language of code. They wear clean, confident clothes (not flashy). They get straight to the point. They make you feel capable, not confused.</p>
        </div>
    </div>
</section>
