---
import { AppConfig } from "../../data";
---

<section class="MainSlide">
    <div class="container-fluid">
        <div class="header">
            <h2 class="title">Brand<br>Strategy</h2>
            <p class="description w-[40%]">A complete strategic foundation - from who { AppConfig.brand_name } is, to who it's for, to how it shows up in every room it enters.</p>
        </div>
        <div class="footer">
            <span>Version 1</span>
            <span>03/06/2026</span>
            <span>By Alex Wambui</span>
        </div>
    </div>
</section>