---
import { AppConfig } from "../../data";
---

<section class="Slide">
    <div class="container-fluid">
        <div class="content">
            <p class="content-title">Competition</p>
        </div>
    </div>
</section>
