<section class="Slide MainSlide">
    <div class="container-fluid">
        <div class="header">
            <h2 class="title">Competitor<br>Profiles</h2>
        </div>
        <div class="slide-number">
            <span class="number">06</span>
        </div>
    </div>
</section>
