---
import { AppConfig } from "../../data";
---

<section class="Slide">
    <div class="container-fluid">
        <div class="header">
            <h2 class="title">Company Profile</h2>
        </div>
        <div class="content">
            <p class="content-title">Who we are</p>
            <p>{ AppConfig.brand_name } is a business growth company specializing in helping you gain more customers, more sales, more efficiency and more profit.</p>
            <p>{ AppConfig.brand_name } helps businesses grow by combining strategy, branding, software development, and digital systems into solutions that drive measurable business results.</p>
            <p class="content-title">Our belief</p>
            <p>We understand that you as a business owner don't just wake up wanting a website, a logo, a CRM or an app. That's why we help you use software as the tool for your business to grow smartly - combining technology, design and digital systems.</p>
            <p class="content-title">Industry</p>
            <ol class="pills">
                <li>Growth Technology</li>
                <li>Digital Design</li>
                <li>Business Systems</li>
            </ol>
        </div>
    </div>
</section>
